@import "compass";
@import "common";

.rule-button {
    color: $white;
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
    padding: 5px;
    margin-right: 10px;
    background-color: $color_silver_rust_approx;
    //Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: 4px 3px $color_pale_oyster_approx;
    &:hover {
        color: $color_scarlet_approx;
        //Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
        box-shadow: 4px 3px $color_scarlet_approx;
    }
}
.rules-wrapper {
    padding-bottom: 20px;
    min-height: 300px;
    color: $color_pale_oyster_approx;
}


.rule-header-tracker,
.rule-header-zone,
.rule-header-title,
.rule-title,
.rule-tracker,
.rule-zone {
    display: inline-block;
    min-width: 140px;
}

input, select {
    display: inline-block;
    width: 140px;
    margin: 0 0 0 -3px;
}

.rule-event {
    display: inline-block;
    width: 137px;
}

.rules-header {
    padding-bottom: 10px;
}

%icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.edit-icon{
    @extend %icon;
    background: $url_18;
    &:hover {
        background: $url_20;
    }
}

.delete-icon {
    @extend %icon;
    background: $url_19;
    &:hover {
        background: $url_21;
    }
}

.rule-edit {
    display: none;
}


.rule {
    padding: 5px 0;
}