<div class="rules-header">
    <span class="rule-header-title">Название</span>
    <span class="rule-header-tracker">Трекер</span>
    <span class="rule-header-zone">Зона</span>
    <span class="rule-header-event">Событие</span>
</div>
<div class="rules-wrapper children-container"></div>
<div class="add-rule rule-button">Добавить правило</div>