<div class="rule-values">
    <span class="rule-title rule-value">{{ title }}</span>
    <span class="rule-tracker rule-value">{{ tracker }}</span>
    <span class="rule-zone rule-value">{{ zone }}</span>
    <span class="rule-event rule-value">{{ typeValue }}</span>
    <span class="edit-icon"></span>
    <span class="delete-icon"></span>
</div>
<div class="rule-edit">
    <input class="rule-title-edit rule-edit-input" value="{{ title }}" data-field="title" data-id="{{ id }}"/>
    <select class="rule-tracker-edit rule-edit-input" data-field="trackerId" data-id="{{ id }}">
        {{#each trackers}}
        <option value="{{ id }}">
            {{ title }}
        </option>
        {{/each}}
    </select>
    <select class="rule-zone-edit rule-edit-input" data-field="zoneId" data-id="{{ id }}">
        {{#each zones}}
        <option value="{{ id }}">
            {{ title }}
        </option>
        {{/each}}
    </select>
    <select class="rule-type-edit rule-edit-input" data-field="type" data-id="{{ id }}">
        {{#each types}}
        <option value="{{ id }}">
            {{ title }}
        </option>
        {{/each}}
    </select>
    <span class="edit-icon"></span>
    <span class="delete-icon"></span>
</div>