@font-face {
  font-family: "MetaBoldC";
  src: url(/fonts/MetaBoldC_latin+latin-ext+cyrillic_gdi.eot) format('embedded-opentype'), url(/fonts/MetaBoldC_latin+latin-ext+cyrillic_gdi.svg) format('svg'), url(/fonts/MetaBoldC_latin+latin-ext+cyrillic_gdi.ttf) format('truetype'), url(/fonts/MetaBoldC_latin+latin-ext+cyrillic_gdi.woff) format('woff');
}
@font-face {
  font-family: "Tahoma";
  src: url(/fonts/tahoma.ttf) format('truetype');
}
/* line 4, ../scss/rules.scss */
.rule-button {
  color: #ffffff;
  display: inline-block;
  cursor: pointer;
  text-transform: uppercase;
  padding: 5px;
  margin-right: 10px;
  background-color: #cac3bb;
  box-shadow: 4px 3px #9c8f82;
}
/* line 14, ../scss/rules.scss */
.rule-button:hover {
  color: #e81315;
  box-shadow: 4px 3px #e81315;
}

/* line 20, ../scss/rules.scss */
.rules-wrapper {
  padding-bottom: 20px;
  min-height: 300px;
  color: #9c8f82;
}

/* line 27, ../scss/rules.scss */
.rule-header-tracker,
.rule-header-zone,
.rule-header-title,
.rule-title,
.rule-tracker,
.rule-zone {
  display: inline-block;
  min-width: 140px;
}

/* line 37, ../scss/rules.scss */
input, select {
  display: inline-block;
  width: 140px;
  margin: 0 0 0 -3px;
}

/* line 43, ../scss/rules.scss */
.rule-event {
  display: inline-block;
  width: 137px;
}

/* line 48, ../scss/rules.scss */
.rules-header {
  padding-bottom: 10px;
}

/* line 52, ../scss/rules.scss */
.edit-icon, .delete-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

/* line 59, ../scss/rules.scss */
.edit-icon {
  background: url("/images/pen-normal-grey.png");
}
/* line 62, ../scss/rules.scss */
.edit-icon:hover {
  background: url("/images/pen-hover.png");
}

/* line 67, ../scss/rules.scss */
.delete-icon {
  background: url("/images/cross-normal-grey.png");
}
/* line 70, ../scss/rules.scss */
.delete-icon:hover {
  background: url("/images/cross-hover.png");
}

/* line 75, ../scss/rules.scss */
.rule-edit {
  display: none;
}

/* line 80, ../scss/rules.scss */
.rule {
  padding: 5px 0;
}
