<div class="tracker-block-title">Состояние устройства</div>
<div class="tracker-block-content">
    <div class="tracker-info">
        <div class="tracker-info-row">
            <span class="bold">Широта: </span>
            <span class="tracker-info-lat"></span>
        </div>
        <div class="tracker-info-row">
            <span class="bold">Долгота: </span>
            <span class="tracker-info-lng"></span>
        </div>
        <div class="tracker-info-row">
            <span class="bold">Скорость: </span>
            <span class="tracker-info-speed"></span>
        </div>
        <div class="tracker-info-row source">
            <span class="bold">Источник данных: </span>
            <span class="tracker-info-source"></span>
        </div>
        <div class="tracker-info-row">
            <span class="bold">Статус: </span>
            <span class="tracker-info-status"></span>
        </div>
        <div class="tracker-info-row">
            <span class="bold">Последняя метка:</span>
            <span class="tracker-info-last-date"></span>
        </div>
        <div class="tracker-additional"></div>
    </div>
</div>