<span class="zone-item-title">{{ title }}</span>
<input type="text" placeholder="название" class="zone-edit-title" value="{{ title }}"/>
<span class="zone-remove" title="удалить"></span>
<span class="zone-edit" title="изменить название"></span>
