<div class="zone-block">
    <div class="zone-title">
        <span>Зоны</span>
        <span class="circle-zone" title="Круглая зона"></span>
        <span class="rect-zone" title="Прямоугольная зона"></span>
        <span class="cancel-zone" title="Отключить режим рисования"></span>
    </div>
    <div class="zone-content children-container"></div>
</div>